<!DOCTYPE html>
<html lang="ja" xmlns:th="http:www.thymeleaf,org">
<header th:fragment="header_fragment()">
  <div class="text-center bg-primary">
    <div class="row p-3 display-4 font-weight-bold">
      <p class="col mb-0 text-left">
        <a th:href="@{/top}" class="text-dark pl-5">Todoリスト</a>
      </p>
      <p class="col mb-0 text-center">
        <a th:href="@{/excel}" class="text-dark">Excel取込</a>
      </p>
      <p class="col mb-0 text-right">
        <a th:href="@{/search}" class="text-dark pr-5">検索</a>
      </p>
    </div>
  </div>
</header>
</html>
