<!DOCTYPE html>
<html lang="ja" xmlns:th="http:www.thymeleaf,org">
  <header th:fragment="header_fragment()">
    <div class="text-center bg-primary">
      <div class="d-flex p-3">
        <p class="display-4 pl-5 mb-0 text-left font-weight-bold" style="width: calc(100% / 3)">
          <a th:href="@{/top}" class="text-dark">Todoリスト</a>
        </p>
        <p class="display-4 mb-0 text-center font-weight-bold" style="width: calc(100% / 3)">
          <a th:href="@{/excel}" class="text-dark">Excel取込</a>
        </p>
        <p class="display-4 mb-0 mr-5 text-right font-weight-bold" style="width: calc(100% / 3)">
          <a th:href="@{/search}" class="text-dark">検索</a>
        </p>
      </div>
    </div>
  </header>
</html>
